<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Stimmzettel.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Stimmzettel.Properties.Settings>
            <setting name="Kandidaten" serializeAs="String">
                <value>Rolland Revell;Elnora Ebling;Eugenie Ehrlich;Michell Monge;Gertie Gearheart;Mertie Melrose;Irina Inks;Darnell Dewolf;Eugenio Eichhorn;Kathaleen Killam;Parthenia Pinedo;Freida Fuson;Vannessa Vaillancourt</value>
            </setting>
            <setting name="AnzahlStimmzettelbisBackup" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="X_Checkbox" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="Y_Checkbox" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="MaximaleAuswahl" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="WindowWidth" serializeAs="String">
                <value>559</value>
            </setting>
            <setting name="WindowHeight" serializeAs="String">
                <value>914</value>
            </setting>
        </Stimmzettel.Properties.Settings>
    </userSettings>
</configuration>